* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.dark {
  background: #333333;
  color: #bbbbbb;
}

#box {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid grey; */
  width: 80vw;
  height: 5rem;
  /* border-radius: 1rem; */
}

#box2 {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 5rem;
  margin-top: 3rem;
  /* border-radius: 1rem; */
  /* border: 2px solid grey; */
}

#time {
  font-size: 10rem;
  transition: 0.3s ease;
}

#start,
#stop,
#reset {
  font-size: 2rem;
  border: 2px solid #bbbbbb;
  padding: 0.5rem 2.5rem;
  border-radius: 3rem;
  cursor: pointer;
}

#colorMode {
  position: absolute;
  top: 5%;
  left: 5%;
}
